<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heads of State</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>

<body style="margin: 1rem;">
    <script>
        function onSubmit() {
            $.post("/heads", $("#form-input").serialize()).done((data) => {
                console.log(data);
            }).fail((err) => {
                console.log(err);
            })
        }

        function onDelete(id) {
            $.ajax({
                url: "/heads",
                type: "DELETE",
                data: { code: id },
                success: (result) => {
                    $(`#${id}`).remove();
                },
                error: (err) => {
                    $("#bad-alert").text(xhr.responseText || `An error occured (${xhr.status})`)
                    $("#bad-alert").fadeIn()
                }
            })
        }
    </script>

    <div class="container">
        <a class="btn btn-success" href="/">Go Back</a>

        <div id="bad-alert" class="alert alert-danger" style="display: none;" role="alert">
            Try again later!
        </div>

        <div id="good-alert" class="alert alert-success" style="display: none;" role="alert">
            Succeded!
        </div>

        <div class="col mt-2">
            <div class="row">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <th>Country</th>
                        <th>Head of State</th>
                        <td>Menu</td>
                    </thead>

                    <tbody>
                        <% data.forEach(head=> { %>
                            <tr id="<%= head._id %>">
                                <td>
                                    <%= head._id %>
                                </td>
                                <td>
                                    <%= head.headOfState %>
                                </td>

                                <td>
                                    <a class="btn btn-danger" onclick="onDelete('<%= head._id %>')">Delete</a>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <form id="form-input" class="form" onsubmit="onSubmit(); return false">
                    <div class="mb-2 input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Country Code</label>
                        </div>

                        <select required id="input-head-countrycode" name="_id" class="custom-select">
                            <% countries.forEach(country=> { %>
                                <option value="<%= country.co_code %>">
                                    <%= country.co_name %>
                                </option>
                                <% }) %>
                        </select>
                    </div>

                    <label class="form-label">Head of State (Name)</label>
                    <input required class="form-control mb-2" type="text" name="headOfState" />

                    <button class="btn btn-success" type="submit">Submit</button>
                </form>
            </div>
        </div>

    </div>
</body>

</html>